.exhibitHeader .MuiTabs-flexContainer {
  justify-content: center;
  text-align: center;
}
.exhibitHeader .MuiTabs-flexContainer .Mui-selected {
  color: #fff;
}
.exhibitHeader .MuiTabs-indicator {
  background-color: #c80000;
  height: 6px;
}
.exhibitHeader .MuiTabs-flexContainer {
  gap: 15px;
}
.exhibitHeader .MuiTabs-flexContainer button {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  width: 200px;
}

.wrapExhibit .slider-container .slick-list {
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}
.wrapExhibit .slider-container .slick-slide img {
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(0.8);
}
.wrapExhibit .slider-container .slick-slide.slick-center img {
  opacity: 1;
  transform: scale(1.3);
}

.wrapExhibit .slick-prev {
  left: -15px !important;
  z-index: 11;
}
.wrapExhibit .slick-next {
  right: 50px !important;
}
.wrapExhibit .slick-next:before {
  background: url(../../../../public/images/banner/bannerArrow.svg) no-repeat;
  height: 84px;
  width: 84px;
  content: "";
  display: block;
}
.wrapExhibit .slick-prev:before {
  background: url(../../../../public/images/banner/bannerArrow.svg) no-repeat;
  height: 84px;
  width: 84px;
  content: "";
  display: block;
  transform: rotate(180deg);
}

.wrapExhibit .bdrWrap {
  position: relative;
  top: 0;
  left: 0;
  margin: 50px auto;
  width: 80%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 9;
}
.wrapExhibit .bdrWrap::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 50%;
  height: 4px;
  background: #fff;
  transition: width 0.5s;
}

@media screen and (min-width: 1600px) {
  .wrapExhibit h2 {
    font-size: 126px;
  }
}

@media screen and (max-width: 1600px) {
  .wrapExhibit h2 {
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .wrapExhibit h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .exhibitHeader {
    border: 0;
    width: 200px;
  }
  .exhibitHeader .MuiFormControl-root {
    background: transparent;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #ccc;
  }
  .exhibitHeader .MuiFormControl-root .MuiSelect-select {
    color: #fff;
  }
  .exhibitHeader .MuiFormControl-root svg {
    color: #fff;
  }

  .wrapExhibit .slick-next:before {
    width: 50px;
    height: 50px;
    background-size: 100%;
  }
  .wrapExhibit .slick-prev:before {
    width: 50px;
    height: 50px;
    background-size: 100%;
  }
  .wrapExhibit .slick-next {
    right: 15px !important;
  }
}
